<html lang="ko"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

    <div  th:fragment="footerFragment">
        <head>
            <style>
                  .sohee {
                        position: fixed;
                        bottom: 0;
                        width: 100%;
                        background-color: white;
                        }
            </style>
        </head>

        <footer style="margin-bottom:0 width:100%" class="sohee">
            <p>&copy;2021. Sohee Jeon. Please contact me</p>
        </footer>
    </div>
</html>