<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/common_layout">

<div layout:fragment="content">
    <body id="back">
    <div class="container" style=" overflow: hidden;" role="main" >
        <form method="post" th:action="@{/shop/upload}" enctype="multipart/form-data">
            <div class="container">
                <main>
                    <div class="form-group">
                        <div class="form-group">
                            <label class="col-form-label" for="title">제목</label>
                            <input type="text" class="form-control" placeholder="제목을 입력해주세요." id="title" name="title">
                            <input type="text" class="form-control" placeholder="가격을 숫자만 입력해주세요." id="price" name="price">원
                        </div>
                        <div class="form-group">
                            <label for="content">본문</label>
                            <textarea class="form-control" id="content" name="content" rows="10" placeholder="내용을 입력해주세요."></textarea>
                        </div>

                        <div class="mb-3">
                            <input type="file" name="file" class="form-control-file">
                        </div>

                        <div>
                            <button type="submit" class="btn btn-outline-info">올리기</button>
                        </div>
                        <hr class="col-12 my-4">
                    </div>
                </main>
            </div>
        </form>
    </div>
    </body>
</div>
</html>